################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/www/.vscode
/.vs
/www/requests.log
/TrayRadio/.vs/TrayRadio/v15
/TrayRadio/packages
/TrayRadio/obj
/TrayRadio/bin
/Tray Radio 1.5.2.exe
/Tray Radio 1.6.0.b1.exe
/Tray Radio 1.6.0.b2.exe
